<Credentials>
  <ServiceAccount>LocalSystem</ServiceAccount>
  <UserName></UserName>
  <Password></Password>
  <StartServiceIfServerNameEndsWith>VOSTRO_470_017</StartServiceIfServerNameEndsWith>
  <ServiceName>StarchefMessageListner</ServiceName>
  <DisplayName>Starchef Message Listner</DisplayName>
</Credentials>