<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StarChef.MSMQ.Queue" value=".\private$\starchef_update"/>
    <add key="StarChef.MSMQ.QueueBudgeted" value=".\private$\starchef_budgeted_costs"/>
    <add key="StarChef.MSMQ.PoisonQueue" value=".\private$\starchef_poison_update"/>
    <add key="DataDynamicsARLic" value="Sean McDermott,StarLogic,DD-ARN-20-CU00179,794CYAP69M57KMAKHPAZ"/>
    <add key="MSMQMessageCount" value="10"/>
    <add key="MSMQThreadCount" value="2"/>
    <add key="GlobalUpdateWaitTime" value="30"/>     <!-- minutes -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="FromAddress" value="saumil.shah@fourth.com"/>
    <add key="Subject" value="ERROR: Forth 4.0 MSMQ Message Processing Failed"/>
    <add key="Alias" value="Starlogic MSMQ Service"/>
    <add key="ToAddress" value="saumil.shah@fourth.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Development\Tools\SLExportManager\Out\Email"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
