<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PriceRecalculateTests" connectionString="Initial Catalog=SCNET_trg;Data Source=.\;User ID=sl_web_user; Password=reddevil;" />
    <!--<add name="PriceRecalculateTests" connectionString="Initial Catalog=SCNET_marstons;Data Source=.\sqlexpress;User ID=sl_web_user; Password=reddevil;"/>-->
    <add name="PriceRecalculateConnectionTests" connectionString="Initial Catalog=sl_login;Data Source=.\;User ID=sl_web_user; Password=reddevil;" />
    <!--<add name="PriceRecalculateConnectionTests" connectionString="Initial Catalog=sl_login;Data Source=10.10.10.109\livemirror;User ID=sl_web_user; Password=reddevil;" />-->
  </connectionStrings>
  <appSettings>
    <add key="UseMockedStoredProcedure" value="true" />
    <add key="MaxTestsAmount" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>