<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PriceRecalculateTests" connectionString="Initial Catalog=SCNET_trg;Data Source=.\sqlexpress;User ID=sl_web_user; Password=reddevil;"/>
    <!--<add name="PriceRecalculateTests" connectionString="Initial Catalog=SCNET_marstons;Data Source=.\sqlexpress;User ID=sl_web_user; Password=reddevil;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="UseMockedStoredProcedure" value="true"/>
    <add key="MaxTestsAmount" value="100"/>
  </appSettings>
</configuration>