<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="loginConnString" connectionString="Data Source=10.0.11.215\devtest;Initial Catalog=sl_login;user id=sl_web_user;password=reddevil" />
  </connectionStrings>
  <appSettings>
    <add key="packageQueuePath" value="FormatName:Direct=TCP:10.0.10.224\private$\StarChef.MSMQ.CreatePackage" />
    <add key="pollIntervalMinutes" value="1" />
    <add key="evoPdfLicenseKey" value="7mBzYXJyYXB3cWF1b3FhcnBvcHNveHh4eA==" />
    <add key="asposeLicenseFile" value="C:\Fourth_Development\Fourth.Packages\Packages\Aspose-License\Aspose.Total.lic" />
    <add key="imageBaseUrl" value="http://devtesting.starchef.net/">
    </add>
    <add key="headerFooterLogoResizedWidth" value="40" />
    <add key="convertExcelToOnePagePerSheet" value="true" />
    <add key="reportingEngine1Url" value="http://10.0.10.224//ReportingEngine/Reports/PackageReport.aspx?reportId=" />
    <add key="reportingEngine2Url" value="http://10.0.10.94/ReportingEngine2/pdfreport/Generate/" />
    <add key="reportOutputPath" value="C:\inetpub\wwwroot\DevTesting\devtesting.starchef.net\SCNET_docs\SCNET_demo\" />
    <!---values are in cms-->
    <add key="headerTopMargin" value=".5" />
    <add key="headerBottomMargin" value=".5" />
    <add key="headerLeftMargin" value="1" />
    <add key="headerRightMargin" value="1" />
    <add key="footerTopMargin" value=".5" />
    <add key="footerBottomMargin" value=".5" />
    <add key="footerLeftMargin" value=".5" />
    <add key="footerRightMargin" value=".5" />
    <add key="marginTopOffset" value="2" />
    <add key="marginBottomOffset" value="2" />
    <!-- Email details-->
    <add key="fromAddress" value="starchef.notifications@fourth.com" />
    <!-- Exception email-->
    <add key="exceptionToAddress" value="vishwa.kumar@fourth.com" />
    <add key="exceptionSubject" value="StarChef.NET - Package Output notification" />
    <add key="exceptionBody" value="Your recently requested Package Output has not been successfully generated.&lt;br/&gt;"/>
    <!-- Success Email-->
    <add key="successSubject" value="StarChef.NET - Package Output notification" />
    <add key="SuccessBody" value="Your recently requested Package Output has been successfully generated.&lt;br/&gt;Please log in to StarChef.NET to view the Package Output in the documents section: &lt;a href='https://www.starchef.net/login.aspx'&gt;https://www.starchef.net/login.aspx&lt;/a&gt;. &lt;br/&gt;Thank you." />
    
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Fourth_Development\mails" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>