<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <orchestrationAzure xdt:Transform="Replace" connectionString="#{StarChef.Orchestration.Listener}" listenerMaxConcurrentCalls="10" deferredMaxConcurrentCalls="2" firstLevelRetries="1" secondLevelRetries="1" secondLevelRetryInterval="1" />
  <messageStoreAzure xdt:Transform="Replace" connectionString="#{StarChef.Azure.MessageStore}" />

  <appSettings>
    <add key="messagesCount" value="#{StarChef.SqlQueue.MessagesCount}"/>
    <add key="DSN" value="#{StarChef.SL_Login.ConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <appender name="RollingFileAppender">
      <file xdt:Transform="Replace" value="#{StarChef.SqlQueue.LogFilePath}"></file>
    </appender>
    <appender name="ADONetAppender">
      <connectionString xdt:Transform="Replace" value="#{StarChef.Maintenance.ConnectionString}" />
    </appender>
  </log4net>

</configuration>