<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <orchestrationAzure xdt:Transform="Replace" connectionString="#{StarChef.Orchestration.Listener}" listenerMaxConcurrentCalls="10" deferredMaxConcurrentCalls="2" firstLevelRetries="1" secondLevelRetries="1" secondLevelRetryInterval="1" />
  <messageStoreAzure xdt:Transform="Replace" connectionString="#{StarChef.Azure.MessageStore}" />

  <appSettings>
    <add key="retryCount" value="#{StarChef.SqlQueue.RetryCount}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="messagesCount" value="#{StarChef.SqlQueue.MessagesCount}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sleepMinutes" value="#{StarChef.SqlQueue.SleepMinutes}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="newThreadMessages" value="#{StarChef.SqlQueue.NewThreadMessages}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="maxThreadCount" value="#{StarChef.SqlQueue.MaxThreadCount}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DSN" value="#{StarChef.SL_Login.ConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <appender name="RollingFileAppender" xdt:Locator="Match(name)">
      <file xdt:Transform="Replace" value="#{StarChef.LogPath}\Fourth.StarChef.SqlQueue.log"></file>
    </appender>
    <appender name="RollingFileAppenderJSON" xdt:Locator="Match(name)">
      <file xdt:Transform="Replace" value="#{StarChef.LogPath}\Fourth.StarChef.SqlQueue-json.log"></file>
    </appender>
    <appender name="ADONetAppender" xdt:Locator="Match(name)">
      <connectionString xdt:Transform="Replace" value="#{StarChef.Maintenance.ConnectionString}" />
    </appender>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="#{Starchef.MailTemplates}" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>