<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <orchestrationAzure xdt:Transform="Replace" connectionString="#{StarChef.Orchestration.Listener}" listenerMaxConcurrentCalls="10" deferredMaxConcurrentCalls="2" firstLevelRetries="1" secondLevelRetries="1" secondLevelRetryInterval="1" />
  <messageStoreAzure xdt:Transform="Replace" connectionString="#{StarChef.Azure.MessageStore}" />
  <connectionStrings>
    <add name="SL_login" connectionString="#{StarChef.SL_Login.ConnectionString}" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="StarchefLogin" connectionString="#{StarChef.SL_Login.ConnectionString}" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="StarChef.MSMQ.Queue" value="#{StarChef.MSMQ.Queue}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StarChef.MSMQ.QueueBudgeted" value="#{StarChef.MSMQ.Queue}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StarChef.MSMQ.PoisonQueue" value="#{StarChef.MSMQ.PoisonQueue}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FromAddress" value="#{StarChef.FromAddress}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ToAddress" value="#{StarChef.SupportEmail}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DSN" value="#{StarChef.SL_Login.ConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableBackgroundTask" value="#{StarChef.EnableBackGroundTasks}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <appender name="RollingFileAppender" xdt:Locator="Match(name)">
      <file xdt:Transform="Replace" value="#{StarChef.LogPath}\Fourth.StarChef.MSMQ.log"></file>
    </appender>
    <appender name="RollingFileAppenderJSON" xdt:Locator="Match(name)">
      <file xdt:Transform="Replace" value="#{StarChef.LogPath}\Fourth.StarChef.MSMQ-json.log"></file>
    </appender>
    <appender name="ADONetAppender" xdt:Locator="Match(name)">
      <connectionString xdt:Transform="Replace" value="#{StarChef.Maintenance.ConnectionString}" />
    </appender>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="#{Starchef.MailTemplates}" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>