<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>

    <!--Storage paths for different files.-->
    <add key="SupplierImportFilePath" value="D:\Development\Fourth.Import\SupplierImportUpload\" />
    <add key="ImportFilePath" value="D:\Development\Fourth.Import\Uploaded\" />
    <add key="ProcessingFilePath" value="D:\Development\Fourth.Import\Uploaded\" />
    <add key="ProcessedFilePath" value="D:\Development\Fourth.Import\Processed\" />
    <add key="ExceptionReportFilePath" value="D:\Development\Fourth.Import\Exception\" />
    <add key="TemplateFilePath" value="D:\Development\Fourth.Import\Template\" />


    <!-- Excel Template related configurations -->
    <add key="templateVersion" value="B2:B2" />
    <add key="columnHeader" value="A4:HZ4" />
    <add key="columnHeaderName" value="A5:HZ5" />
    <add key="dataStartsFromRow" value="7" />
    <add key="pageSize" value="20" />
    
    <!--Service running times-->
    <add key="ServiceStartTime" value="15:00" />
    <add key="ServiceStopTime" value="24:00" />

    <!--Supplier Service running times-->
    <add key="SupplierImportStartTime" value="9" />
    <add key="SupplierImportEndTime" value="17" />
    
    <add key="folderPollFrequency" value="5" />
    <!-- in minutes-->


    <!--Error emails details  -->
    <add key="fromAddress" value="saumil.shah@fourth.com" />
    <add key="subject" value="Fourth Import" />
    <add key="alias" value="Fourth Import" />
    <add key="toAddress" value="saumil.shah@fourth.com" />


  </appSettings>


  <connectionStrings>
    <add name="logindatabase" connectionString="data source=10.10.10.109\devtest;Initial Catalog=sl_login;user id=sl_web_user;password=reddevil" />
    <add name="Target_DB" connectionString="{0};{1};user id=sl_web_user;password=reddevil;" />
    <add name="excelImportSheet" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties={1}Excel 12.0;HDR=No;IMEX=1{1}" />
    <!-- {1} is for double quote required for  Extended Properties-->
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Development\Fourth.Import\EMail" />
      </smtp>
    </mailSettings>

  </system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
