<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="Fourth.StarChef.Invariables" version="1.0.73" targetFramework="net461" />
  <package id="MSBuild.NugetPackaging" version="1.0.12" targetFramework="net461" developmentDependency="true" />
  <package id="MSBuild.VersionNumbers" version="1.5.33" targetFramework="net461" developmentDependency="true" />
</packages>